<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>853952178981-k35h2cjb5aqiopo1m0bfcls5pupjb5dk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853952178981-k35h2cjb5aqiopo1m0bfcls5pupjb5dk</string>
	<key>API_KEY</key>
	<string>AIzaSyCkrKik0JLE9CSDmV0-zt7a5befWP8hSOU</string>
	<key>GCM_SENDER_ID</key>
	<string>853952178981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ryanlim.ChaChat</string>
	<key>PROJECT_ID</key>
	<string>chachat-f6805</string>
	<key>STORAGE_BUCKET</key>
	<string>chachat-f6805.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:853952178981:ios:673a8cf12f381f97</string>
	<key>DATABASE_URL</key>
	<string>https://chachat-f6805.firebaseio.com</string>
</dict>
</plist>
